server:
    - name: default
      protocol: https
      host: iptv.krugten.org
      port: '443'
      timezone: Europe/Amsterdam
      message: Welcome to tuliprox
user:
    - target: filtered_iptv
      credentials:
        - username: {{ vault_tuliprox_local_username }}
          password: {{ vault_tuliprox_local_password }}
          proxy: redirect
          server: default
